body {
  text-align: center;
  justify-content: center;
  background-color: #ede0e0c9;
}

button {
  background-color: rgb(53, 53, 251);
  color: #fff;
  border: none;
  padding: 5px;
  font-size: large;
  border-radius: 8px;
}

.heading {
  color: blue;
}
