* {
  box-sizing: border-box;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(136, 133, 129);
  text-emphasis-color: #fff;
  color: #fff;
}
