* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --padding: 10px;
  --blur: 0px;
  --base: rgb(255, 0, 0);
  --width: 60%;
  --border-radius: 5px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
img {
  width: var(--width);
  height: 80%;
  margin-top: 1rem;
  padding: var(--padding);
  filter: blur(var(--blur));
  background-color: var(--base);
  border-radius: var(--border-radius);
}
label {
  padding-left: 1rem;
  font-size: 1rem;
}
.container {
  border-radius: 50px;
  background-color: #fafafa;
  padding: 2rem;
}
