body {
  margin: 0;
  height: 100vh;
  background-color: #f6f7f4;
}
span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
  opacity: 0.9;
}
@keyframes animate {
  0% {
    transform: translate(-50%, 50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
